@import url(https://db.onlinewebfonts.com/c/759e4a6bb4cd8bc8dc082ccc8386e8cc?family=Gotham+Condensed+Book);
@font-face {
  font-family: 'Gotham Condensed Book';
  src: url('https://db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.eot');
  src: url('https://db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.woff2')
      format('woff2'),
    url('https://db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.woff')
      format('woff'),
    url('https://db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.ttf')
      format('truetype'),
    url('https://db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.svg#Gotham Condensed Bold')
      format('svg');
}
@font-face {
  font-family: 'Gotham Condensed Bold';
  src: url('https://db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.eot');
  src: url('https://db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.woff2')
      format('woff2'),
    url('https://db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.woff')
      format('woff'),
    url('https://db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.ttf')
      format('truetype'),
    url('https://db.onlinewebfonts.com/t/010b0c65ea7dee40153adf2034153db0.svg#Gotham Condensed Bold')
      format('svg');
}

svg {
  background-color: #e5e5e5;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.grid line {
  stroke: rgb(135, 134, 134);
  stroke-opacity: 0.9;
  shape-rendering: crispEdges;
}
.grid path {
  stroke-width: 0;
}

.line {
  fill: none;
  /*stroke: #aaa;
  stroke: #43484c;
  stroke: #405275;
  stroke: rgba(40, 53, 79, .95);
  stroke: #161719;
  stroke: #f99e1a;*/
  stroke: red;
  stroke-width: 3.66px;
  z-index: 1000;
}

.line2 {
  fill: none;
  stroke: blue;
  stroke-width: 2px;
  stroke-width: 3.66px;
}

.line3 {
  fill: none;
  color: #80caff;
  stroke-width: 2px;
}
.line4 {
  fill: none;
  stroke: #77a8e7;
  stroke-width: 2px;
}
.line4-text {
  fill: BLUE;
  stroke: BLUE;
}

.line3-text {
  fill: #bdc3d0;
  stroke: #c5c5c6;
}

.line2-text {
  fill: BLUE;
  stroke: BLUE;
}

.line-text {
  fill: red;
  stroke: red;
  stroke-width: 4px;
}

.label-text {
  font-family: 'Gotham Condensed Book';
  font-size: 40.21px;
  font-weight: 400;
  line-height: 48.25px;
  text-align: left;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  border: 0px;
  border-radius: 8px;
}

.tooltip p {
  margin: 0;
  padding: 0;
  font-family: 'Gotham Condensed Book';
  font-weight: 400;
  font-size: 36px;
  line-height: 43.2px;
}

.tooltip .highest {
  color: #dd0000;
}

.tooltip .lowest {
  color: blue;
}

.dot {
  fill: transparent;
  z-index: 3;
}

.dot2 {
  fill: transparent;
  z-index: 3;
}

g .tick {
  color: #bdc3d0 !important;
}

#chart {
  background-color: #e5e5e5;
  border: 1px solid #aaa;
  border-radius: 8px;
  padding: 10px;
  margin: auto;
  height: 100%;
  transform: translate(30px, 0);
}

input #search {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-text {
  font-size: 78.59px;
  background-color: #dd0000;
  width: 140px;
  height: 85.91px;
  border: #dd0000;
  color: #ffffff;
  font-weight: 700;
  padding: 0 10px;
  padding: auto;
  line-height: 94.31px;

  font-family: 'Gotham Condensed Bold';
}

#question {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#question-text {
  font-size: 54.83px;
  font-weight: 50;
  line-height: 65.8px;
  text-align: center;
  font-family: 'Gotham Condensed Book';
}

#today {
  background-color: #dd0000;
  width: 440px;
  height: 85.91px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#today-text {
  font-size: 78.59px;
  color: #ffffff;
  font-weight: 700;
  line-height: 94.31px;
  text-align: center;
  font-family: 'Gotham Condensed Bold';
}

#domain {
  stroke: none;
}

#search-bar {
  display: flex;
}

#area {
  z-index: -1000;
}

.month-label {
  font-family: 'Gotham Condensed Book';
  font-size: 32px;
  margin-top: 100px;
}

.num-axis {
  font-family: 'Gotham Condensed Book';
  font-size: 27px;
}

.x-axis path {
  display: none;
}

.num-axis path.domain {
  display: none;
}

.dots {
  fill: white
}
 